* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 10px;
    background-color: #F1F8E8;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Comfortaa", sans-serif, Verdana, Geneva, Tahoma, sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.task {
    border-radius: 5px;
    background-color: #D8EFD3;
    min-width: 400px;
    min-height: 300px;
    width: 66%;
    padding: 10px;
    margin-bottom: 5px;
}

.description {
    background-color: #F1F8E8;
    padding: 10px;
    margin: 10px;
}

.description button {
    margin: 10px;
}

.square {
    width: 200px;
    height: 200px;
    background-color: red;
    margin-top: 20px;
}

.root {
    margin-top: 20px;
}
